name: CD

on:
  workflow_dispatch:
  push:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - run: rustup target list

      - name: Build
        run: cargo build -r --verbose

      - name: Artifact - Linux Binary arm64
        uses: actions/upload-artifact@v4
        with:
          name: linux_binary
          retention-days: 1
          path: ./target/release/hashfolder